body{
    background-color: #34495e;
    margin: 0;
    padding: 0;
}

nav{
    background-color: white;
    user-select: none;
}

.logo{
    margin: 0;
    font-size: 40px;
    font-family: 'Akronim';
    color: #8e44ad;
    cursor: pointer;
    display: inline;
}

.logo>span{
    color: black;
    text-transform: uppercase;
}

.main{
    display: flex;
    padding: 20px 150px;
}

.container{
    flex-grow: 1;
    /* background-color: tomato; */
    /* border: 2px solid; */

}

.nav{
    display: flex;
    justify-content: flex-end;
}

.child{
    /* background-color: tomato; */
    padding: 8px 15px;
    text-transform: uppercase;
    font-family: 'Alata';
    margin: auto 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.child>a{
    color: black;
    text-decoration: none;
}

.c1{
    border-bottom: 2px dotted black;
}

.c3{
    background-color: black;
    border-radius: 30px;
    padding-left: 8px;
}
.c3>a{
    color: white;
}

.c3>a>i.fa-chevron-down{
    /* font-weight: 400; */
    margin: 0 0 0 10px;
}

.c3>a>i.fa-phone-alt{
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 50%;
    margin-right: 10px;
}
