body{
    background-color: #34495e;
    margin: 0;
    padding: 0;
}

nav{
    background-color: white;
}

.logo{
    margin: 0;
    font-size: 40px;
    font-family: 'Akronim';
    color: #8e44ad;
}

.logo>span{
    color: black;
    text-transform: uppercase;
}

.main{
    display: flex;
    padding: 20px 150px;
}

.container{
    flex-grow: 1;
    /* background-color: tomato; */
    /* border: 2px solid; */

}

.nav{
    display: flex;
    justify-content: flex-end;
}

.child{
    /* background-color: tomato; */
    padding: 8px 15px;
    text-transform: uppercase;
    font-family: 'Alata';
    margin: auto 8px;
    font-weight: bold;
    font-size: 15px;
    
}

.c1{
    border-bottom: 2px dotted black;
}

.c3{
    background-color: black;
    color: white;
    border-radius: 30px;
}